.navbar {
    background: #AAF2D1;
}

.container-wrapper {
    height: 33vh;
    text-align: center;
    .container-block {
        line-height: 33vh;
    }
    &:not(.welcome-section) {
        border-top: 1px solid;
        height: 65vh;
        .container-block {
            line-height: 65vh;
        }
    }
}

.container-wrapper.our-products-block {
    .container-block {
        line-height: 60vh;
    }
}

// .footer {
//     background: #AAF2D1;
// }