/* LANDING INTRO */

a {
    color: black !important;
}

a.navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
}


/* FOOTER */

footer {
    /* margin: 15% auto 0 auto; */
    padding: 2% 0;
    background-color: #AAF2D1;
    background-position: center;
    background-position-x: -600 !important;
    color: white;
}

footer div.col-4 ul,
li,
a,
h4 {
    text-align: center;
    text-decoration: none !important;
}

footer div.col-4 ul {
    padding: 0 !important;
}

footer li,
footer ul {
    text-decoration: none !important;
    list-style: none;
    padding-left: 0 !important;
}

footer li {
    width: 30%;
    margin-top: 20px;
}

footer li .fab {
    font-size: 30px !important;
}

footer ul {
    display: flex;
}


/* ======================================================================================= */


/* // Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
    /* NAVIGATION */
    .navbar-toggler,
    a.navbar-brand {
        margin: 3% !important;
    }
    ul.navbar-nav {
        text-align: center;
    }
}


/* // Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {}


/* // Large devices (desktops, 992px and up) */

@media (max-width: 992px) {}


/* // Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1200px) {}


/* =========================================================================================================================== */

.products-popup .modal-dialog .modal-body .image-block img {
    width: inherit;
    border-radius: 5px;
}

.products-popup .modal-dialog .modal-body .content-block {
    margin: 30px 0;
    text-align: left;
}

.products-popup .modal-dialog .products-wrapper-outer .row {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 30px;
}

.products-popup .modal-dialog .modal-header {
    border-bottom: none;
}

footer .container .row .col-6 p {
    margin: 0;
}

footer .container .row .col-6 h6 {
    font-size: 18px;
    margin: 15px 0 5px;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: #9d9c9c;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
}

*::-webkit-scrollbar {
    height: 0;
    width: 0;
}